{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-black text-center"> Condolences </h3>
                    <hr class= "mb-1">
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on|naturalday }} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_details' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %}
        <style>
            .card {
                box-shadow: 0 16px 48px #E3E7EB;
            }
        </style>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 float-right ">
            <div class="card my-4">
                <h5 class="card-header">About</h5>
                <div class="card-body">
                    <p class="card-text"> To offer condolences, open the post and attach a comment to the bottom of the post.</p>
                </div>
            </div>
        </div>
        {% endblock sidebar %}
    </div>
</div>

{% endblock %}
