{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
            <div class="card-body">
                <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
                <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
                <hr class="mb-1">
                <p class="card-text ">{{ post.content | safe }}</p>
              </div>
            {% if request.user.is_superuser %}
            <small class="ml-3">
                <a href="{% url 'edit_post' post.id %}">Edit</a> | 
                <a class="text-danger" href="{% url 'delete_post' post.id %}">Delete</a>
            </small>
            {% endif %}
        </div>
        {% block sidebar %}
        <style>
            .card {
                box-shadow: 0 16px 48px #E3E7EB;
            }
        </style>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 float-right ">
            <div class="card my-4">
                <h5 class="card-header">About</h5>
                <div class="card-body">
                    <p class="card-text"> To offer condolences, fill out the form below to add a comment to the post. If a comment is deemed inappropriate by the moderators of the site, it will be removed.</p>
                </div>
            </div>
        </div>
        {% endblock sidebar %}

        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
              <!-- comments -->
              <h2>{{ comments.count }} comments</h2>
      
              {% for comment in comments %}
              <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                  {{ comment.name }}
                  <span class=" text-muted font-weight-normal">
                    {{ comment.created_on|naturalday }}
                  </span>
                  <hr>
                </p>
                {{ comment.body | linebreaks }}
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
              {% if new_comment %}
              <div class="alert alert-success" role="alert">
                Your comment has been posted
              </div>
              {% else %}
              <h3>Leave a comment</h3>
              <form method="post" style="margin-top: 1.3em;">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}